@{
    ViewBag.Title = "Mensajería:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Agradecemos, por su amabilidad al utilizar nuestros servicios para completar su solicitud. Hasta Luego!</p>
